html {
    font-size: 1.2rem;
}

li {
    font-size: 1.9rem;
}

.nav-tabs>li>a.active {
    color: black;
    background-color: #ffc100 !important;
    border-color: #ffc100 !important;
}


/* .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    background-color: #dd1919 !important;
    border: 1px solid #e90b0b;
    border-bottom-color: transparent;
} */


/* .nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555555 !important;
    background-color: red !important;
} */


/* color letra */

.nav-tabs>li>a {
    color: #fdfdfd;
}

.nav-tabs>li>a:hover {
    background-color: #ffc100 !important;
    border: medium none;
    border-radius: 0;
    color: #525252;
}

.nav-tabs {
    border-color: #333333;
}

.col-6 {
    font-size: 1.9rem;
}