html {
    background: url('../Imagenes/fondo.PNG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Arial;
    color: white;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #b32a2aa2;
    margin-left: 80px;
    margin-right: 300px;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px 30px;
    transition: 0.3s;
    font-size: 30px;
    color: #000000;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    height: 500px;
    font-size: 30px;
    margin-left: 80px;
    margin-right: 300px;
}

header {
    color: white;
    text-align: center;
}

.class1,
.class2 {
    width: 50%;
    float: left;
    height: 65%;
}

.class1 {
    font-size: 30px;
}

.class2 {
    text-align: left;
}

#imagen {
    width: 40%;
}

#git_img {
    float: right;
}

#img1,
#img2 {
    width: 70%;
}

.div_izq,
div_der {
    width: 50%;
    float: left;
    height: 65%;
}